html {
   box-sizing: border-box;
    font-size: 62.5%; /*1 REM = 10px */
}
*, *::before, *::after {
   box-sizing: inherit;
}

body {
   font-family: "raleway", sans-serif;
   font-size: 1.6rem;
   line-height: 2;
}
/* Globales */
h1, h2, h3, h4, h5, h6{
   font-family: 'Playfair Display', serif; margin: 0 0 5rem 0;
}

h1 {
   font-size: 5rem;
}
h2 {
   font-size: 4rem;
}
h3 {
   font-size: 3rem;
}

a {
   text-decoration: none;
   color: #000;
}
.contenedor {
   max-width: 120rem;
   margin: 0 auto;
}

img {
   max-width: 100%;
   display: block;
}
.btn {
   background-color: #8cbc00;
      display: block;
      color: #fff;
      text-transform: uppercase;
      font-weight: 900;
      padding: 1rem;
      transition: background-color .3s ease-out;
      -webkit-transition: background-color .3s ease-out;
      -moz-transition: background-color .3s ease-out;
      -ms-transition: background-color .3s ease-out;
      -o-transition: background-color .3s ease-out;
      text-align: center;
      border: none;
}
.btn:hover {
   background-color: #769c02;
   cursor: pointer;
}
/* Utilidades */
.text-center {
   text-align: center;
   }
.max-width-30 {
   max-width: 30rem;
} 

/* Header y Navegacion */
   .nombre-sitio {
      margin-top: 5rem;
      margin-bottom: 5rem;
      text-align: center;
      font-size: 4rem;
   }
   .nombre-sitio span {
         color: #037bc0;
   }
   .contenedor-navegacion {
      border-top: .1rem solid #e1e1e1;
   }
   .nav-principal {
      padding: 2rem 0;
      display: flex;
      justify-content: space-between;
    }

   .hero {
      background-image: url(../img/principal.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 55rem;
   }

   /* Categorias */
   .categorias h2 {
      text-align: center;
      padding-top: 5rem;
   }
   .categoria a {
      text-align: center;
      display: block;
      padding: 2rem;
      font-size: 2rem;
   }
   .categoria a:hover {
      background-color: #037bc0;
      color: #ffffff;
      border-bottom-right-radius: 1rem;
   }
   .listado-categorias {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
   }

   /* Bloque nosotros */

   .sobre-nosotros {
     background-image: linear-gradient(to right, transparent 50%, #037bc0 50%,#037bc0 100%), url(../img/nosotros.jpg);
     background-position: left center;
     padding: 10rem 0;
     background-repeat: no-repeat;
     background-size: 100%, 120rem;
   }
   .sobre-nosotros-grid {
      display: flex;
      justify-content: flex-end;
   }
   .texto-nosotros {
      flex-basis: 50%;
      padding-left: 10rem;
      color: #fff;
   }

   /* Listado de productos */
   .contenido-principal {
      padding-top: 5rem;
   }
   .listado-productos {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 2rem;
   }
   .producto:nth-child(1) {
      grid-column: 1 / 7;
      display: grid;
      grid-template-columns: 3fr 1fr;
   }
   .producto:nth-child(1) img {
      height: 43rem;
      width: 100%;
      object-fit: cover;
   }
   .producto:nth-child(2) {
      grid-column: 1 / 4;
   }
   .producto:nth-child(2) img,
   .producto:nth-child(3) img {
      height: 30rem;
      width: 100%;
      object-fit: cover;
   }
   .producto:nth-child(3) {
      grid-column: 4 / 7;
   }
   .producto:nth-child(4) {
      grid-column: 1 / 3;
   }
   .producto:nth-child(5) {
      grid-column: 3 / 5;
   }
   .producto:nth-child(6) {
      grid-column: 5 / 7;
   }


   .producto {
      background-color: #037bc0;
   }
   .texto-producto {
      text-align: center;
      color: #fff;
      padding: 2rem;
   }
   .texto-producto h3 {
      margin: 0;
   }
   .texto-producto p {
      margin: 0 0 .5rem 0;
   }

   .texto-producto .precio{
      font-size: 2.8rem;
      font-weight: 900;
   }
   .texto-producto a {
      background-color: #8cbc00;
      display: block;
      color: #fff;
      text-transform: uppercase;
      font-weight: 900;
      padding: 1rem;
      transition: background-color .3s ease-out;
      -webkit-transition: background-color .3s ease-out;
      -moz-transition: background-color .3s ease-out;
      -ms-transition: background-color .3s ease-out;
      -o-transition: background-color .3s ease-out;
}
   
/* footer */
.site-footer {
   border-top: 1px solid #e1e1e1;
   margin-top: 5rem;
   padding-top: 5rem;
}
.site-footer h3 {
   margin-bottom: 5rem;
}

.grid-footer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
}
.footer-menu a {
   display: block;
}
.copyright {
   text-align: center;
   margin-top: 5rem;
}

/* Nosotros */
.contenido-nosotros {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   column-gap: 4rem;
}
.informacion-nosotros {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* blog */
.contenedor-blog {
   display: grid;
   grid-template-columns: 2fr 1fr;
   column-gap: 4rem;
}
.entrada {
   border-bottom: 2px solid #e1e1e1;
   padding-bottom: 3rem;
   margin-bottom: 2rem;
}
.entrada::last-of-type {
   border: none;
}
.entrada-meta {
   display: flex;
   justify-content: space-between;
}
.entrada-meta p {
   font-weight: bold;
}
.entrada-meta span {
   color: #037bc0;
}
.contenido-entrada-blog {
   width: 60rem;
   margin: 0 auto;
}

.galeria {
   list-style: none;
   padding: 0;
   margin: 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
}
.galeria img {
   height: 40rem;
   width: 40rem;
   object-fit: cover;
}

/* Formulario */

.formulario {
   max-width: 60rem;
   margin: 0 auto;
}
.formulario fieldset {
   border: 1px solid #000;
   margin-bottom: 2rem;
}
.formulario legend {
   background-color: #005485;
   width: 35%;
   text-align: center;
   color: #fff;
   text-transform: uppercase;
   font-weight: 900;
   padding: .1rem;
   margin-bottom: 4rem;
}
.campo {
   display: flex;
   margin-top: 1rem;
}
.campo label {
   flex-basis: 10rem;
}
.campo input:not([type="radio"]),
.campo textarea,
.campo select {
   flex: 1;
   border: 1px solid #e1e1e1;
   padding: 1rem;
}
   